<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.ufcg.les.wow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />
    
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
    <uses-permission android:name="android.permission.BLUETOOTH"/>

    <application
        android:icon="@drawable/adedonha_end"
        android:label="@string/app_name_adedonha" >
        <activity
            android:name=".adedonha.activity.AdedonhaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_adedonha" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> 
        
         <activity 
            android:name=".adedonha.activity.PreJogoAdedonhaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/opcao_marcar_adedonha" >
        </activity>
        
        <activity 
            android:name=".adedonha.activity.Example"
            android:screenOrientation="portrait" 
            android:label="@string/opcao_marcar_adedonha" >
        </activity>
        
         <activity 
            android:name=".adedonha.activity.ListaItemActivity"
            android:screenOrientation="portrait" 
            android:label="@string/opcao_marcar_adedonha" >
        </activity>
        
        <activity
            android:name=".adedonha.activity.ListaLetraActivity"
            android:screenOrientation="portrait" 
            android:label="@string/opcao_excluir_adedonha" >
        </activity>
        
        <activity
            android:name=".adedonha.activity.RespostaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_adedonha" >
        </activity>
        
         <activity
            android:name=".adedonha.activity.JogoAdedonhaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_adedonha" >
        </activity>
        
          <activity
            android:name=".adedonha.activity.SubMenuJogarAdedonhaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_adedonha" >
        </activity>
        
        <activity
            android:name=".anagrama.activity.AjudaActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".anagrama.activity.SubMenuJogarActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
          <activity
            android:name=".anagrama.activity.OpcoesActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".anagrama.activity.JogoActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
        <activity
            android:name=".anagrama.activity.RankingActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".anagrama.activity.AnagramaHTActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         
         <activity
            android:name=".dicionario.activity.DicionarioActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_dic">
        </activity> 
        
         <activity
            android:name=".dicionario.activity.SubMenuJogarDicionarioActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_dic" >
        </activity>
        
         <activity
            android:name=".dicionario.activity.JogoDicionarioActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name_dic" > 
        </activity>
        
         <activity
            android:name=".bluetooth.activity.ConfiguracoesDoJogoActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".bluetooth.activity.DeviceListActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".bluetooth.activity.NovasConexoesListenerActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".bluetooth.activity.ConfiguraClienteActivity"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
        
         <activity
            android:name=".bluetooth.activity.ConectandoCliente"
            android:screenOrientation="portrait" 
            android:label="@string/app_name" >
        </activity>
         
    </application>
   

</manifest>